/*
 Document   : Main.CSS
 Created on : Jun 15, 2013, 11:42:57 AM
 Author     : Gnanakeethan Balasubramaniam
 Description:
 Main CSS code relies here
 */
@font-face {
font-family: 'Metamorphous';
src: url("/fonts/Metamorphous-Regular.otf") format("opentype");
}

/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

#top-header {
    font-family: 'Metamorphous', sans-serif;
    font-size: 65px;
    position: absolute;
    left: 15%;
    top:15%;
}

@media 
only screen and (max-width: 400px),
(min-device-width: 200px) and (max-device-width: 400px)  {

    #top-header {
        font-family: 'Metamorphous', sans-serif;
        font-size: 7.5vmin;
        position: absolute;
        left:10%;
        top:10%;
    }
    #main-nav {
  top:-35vmin;
}
}@media 
only screen and (max-width: 768px),
(min-device-width: 400px) and (max-device-width: 768px)  {

    #top-header {
        font-family: 'Metamorphous', sans-serif;
        font-size: 7.5vmin;
        position: absolute;
        left:10%;
        top:10%;
    }
    #main-nav {
  top:50px;
}
}
div.responsive{
    font-size: 2.5vmin;
}
div.responsive h2 {
    font-size:5.5vmin;
}
#clouds {
    padding: 0 0 0 0;
    margin:0 0 0 0;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    height:200px;
    width: 100%;
    overflow: hidden;
}
.cloud-container {
    width: 100% !important;
}
/*Time to finalise the cloud shape*/
.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 60px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 100px;
    top: -55px;
    left: auto;
    right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
    size: auto;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;
    size: auto;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/

    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;
    size: auto;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

.x4 {
    left: 470px;
    top: -250px;
    size: auto;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

.x5 {
    left: -150px;
    top: -150px;
    size: auto;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

@-webkit-keyframes moveclouds {
0% {margin-left: 110%;}
100% {margin-left: -20%;}
}
@-moz-keyframes moveclouds {
0% {margin-left: 110%;}
100% {margin-left: -20%;}
}
@-o-keyframes moveclouds {
0% {margin-left: 110%;}
100% {margin-left: -20%;}
}
.container-fluid#top-heading {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-left-value: 0px !important;
}
body {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin:0px !important;
}
.buttonbox{
    float:none !important;
    width:20px;
}
div#login-form {
    margin-top:25vmin;    
    padding-left:30px;
    
}
.error-loginpage-alert {
    width:200px;
    margin-bottom:50px;
}
/* Making Menu Bar Transparent */
#main-nav {
    /*position: relative;*/
  position:absolute;
  left:75vmin;
  top:15vmin;
  background:none !important;
  border:none !important;
  box-shadow:none !important;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: rgb(85, 85, 85);
    text-decoration: none;
    background-color:rgba(0,0,0,0) !important;
    box-shadow:none !important;
}
input#search{ 
    background-color: transparent !important;
}

/* End - Menu Bar Transparent */

/**
 |-------------------------------
 | Login Box on Home Page
 |-------------------------------
*/

.loginbox{
    padding:20px;
    margin:5px;
    border:none !important;
    background-color: none !important;

}
.btn-login{
    border: none !important;
}
#pwd-reset-form {
    margin-top:50px;
}

div.home {
    left:0px;right:0px;
}