
div.parallax div article h2 {
  font-family: "Lobster Two";
  font-size: 11vmin;
  margin: 0px;
  color: #0077B3;
}
section.plx-story {
  height: 100vmin;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1920px;
  position: absolute;
  top: 200px;
  left: 0px;
}
section.plx-story #first {
  background: url(/img/bg/plx-1.png) 50% 0 no-repeat fixed;
}
section.plx-story #second {
  background: url(/img/bg/plx-2.png) 50% 0 no-repeat fixed;
}
section.plx-story #third {
  background: url(/img/bg/plx-3.png) 50% 0 no-repeat fixed;
}
section.plx-story #fourth {
  background: url(/img/bg/plx-4.png) 50% 0 no-repeat fixed;
}
#first article {
  width: 100%;
  max-width: 1920px;
  height: 1000px;
  text-align: center;
  font-family: "Lobster Two";
  position: absolute;
  left: 0px;
  top: 50vmax;
}
#first article p,
#first article a {
  color: #090909;
}
#first article a:hover {
  color: #050505;
}
#first article p:hover {
  color: #ff00ff;
}
#second {
  padding: 0;
}
#second article {
  position: absolute;
  left: 0px;
  top: 150vmax;
  width: 100%;
  max-width: 1920px;
  height: 1000px;
  text-align: center;
  font-family: "Lobster Two";
}
#second article p {
  margin-bottom: 0px;
}
#second article a {
  color: #ff0;
}
#third article {
  color: #fff;
  padding: 0;
}
